


form.login input[type="text"], form.login input[type="password"]
{
    

    background: 0;
    border: 5px;
    border-bottom: 3px solid black;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    
    color: #FFFFFF;
    outline: 0;

}





form.login label, form.login a
{
    font-size: 12px;
    font-weight: 50;
    color: #FFFFFF;
}





